*{
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 144, 100);
    padding: 3rem;
}

header{
    text-align: center;
}

main{
    background-color: rgb(250, 238, 224);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    border: 2px solid rgb(234, 170, 165);
}

section{
    display: flex;
    flex: 1;
    padding: 1rem;
    border: 2px solid rgb(255, 186, 181);
    gap: 1rem;
}

section h2{
    text-align: center;
    align-items: first baseline;
}

img{
    border: 2rem solid white;
}