*{
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 144, 100);
    padding: 3rem;
}

header{
    text-align: center;
}

main{
    background-color: rgb(245, 223, 197);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

section{
    display: flex;
    flex: 1;
    padding: 1rem;
    border: 2px solid rgb(255, 0, 225);
    gap: 1rem;
}

section h2{
    text-align: center;
}

img{
    border: 2rem solid white;
}